<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352014107512-pm3fghjrq4edss7bj7lgjnemkuppvm0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352014107512-pm3fghjrq4edss7bj7lgjnemkuppvm0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCr1nI4DiNnO5BfZPRi59Oytkh2FuYIQ-0</string>
	<key>GCM_SENDER_ID</key>
	<string>352014107512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>is.symphony.Weather-App</string>
	<key>PROJECT_ID</key>
	<string>weather-app-internship-2a949</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-internship-2a949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352014107512:ios:83564685a9d65b55c5fe8d</string>
</dict>
</plist>